.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

#product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 100%;
}



.title-container {
  flex-grow: 1;
  
}

.add-btn {
  margin-top: auto;
  color: #3d7bdd;
}

.product-card img {
  height: 150px;
  object-fit: contain;
}

.price {
  font-weight: bold;
  margin: 8px 0;
}

.add-btn {
  padding: 8px;
  cursor: pointer;
}

.add-btn:hover {
  background: #eee;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}


.cart-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.cart-item button {
  cursor: pointer;
}

.cart-item button:hover {
  background: #d71009;
  border-radius: 8px
}


.carts-bloc{
    border:2px solid black;
    padding: 18px;
    border-radius: 8px

    
}